<div class="card">
    
        <ul>
            <li><img src="/ghost-solid.svg" alt="project mark"/></li>
            <li class="username">alucard</li>
        </ul>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis a nobis ipsum explicabo ipsam totam rerum? Cupiditate in alias temporibus harum aperiam recusandae, facere qui officia, facilis sequi, at tenetur.
        </p>
        <div class="lowerbar">
            <div class="votingSection">
                <button class="up"><img src="/arrow-up-solid.svg" alt="upvote button"/></button>
                <p class="voteRe"><span>0</span> | <span>0</span></p>
                <button class="down"><img src="/arrow-down-solid.svg" alt="upvote button"/></button>
            </div>
            <div>
                <span>time</span>
            </div>
        </div>
</div>