<%- include('./partials/header.ejs') %>

    <div class="formContainer">
        <h1>Create a new Idea</h1>
        <form>
            <label for="head">
                <span>Title</span>
                <input type="text" id="head" name="title">
            </label>
            <label for="body">
                <span>Body</span>
                <textarea name="body" id="body" cols="30" rows="10"></textarea>
            </label>
            <button>Submit</button>
        </form>
    </div>
  
</body>
</html>
