<%- include('./partials/header.ejs') %>
  

    <main class="mainContainer">
        <%- include("./components/cards.ejs") %>
        <%- include("./components/cards.ejs") %>
    </main>
</body>
</html>
