<%- include('./partials/header.ejs') %>

<div class="profileContainer">
    <div class="userSection">
        <h2>username</h2>
        <p>Ideas: <span>2</span></p>
        <button>Delete Account</button>
    </div>
    <div class="ideasContainer">
        <%- include('./components/cards.ejs') %>
        <%- include('./components/cards.ejs') %>
    </div>
</div>